.profile-picture {
    overflow: hidden;
    border-radius: 50%;
    height: 300px;
    width: 300px;
    overflow: hidden;
    display: block;
}

.profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

html, body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

.flex-column-wrapper { 
    display: flex;
    flex-direction: column;
    height: 80%;
  }

main{    
    width: 720px;
    margin: 0 auto;
    height: 80%;
  }
  
.left, .right {    
    margin: 5px;
    width: 50%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
  
.left {
    align-items: center;
    justify-content: center;
}

body {
    background-color: #E1C699;
}
  
.name {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 2px;
}

.social-links,
.project-links {
    list-style: none;
    padding-left: 0px;
    font-size: 18px;
  }
  
.social-links li {
    color: blue ;
    display: inline-block;
    margin-right: 8px;
}

.project-links li {
    color: blue ;
    display: inline-block;
    margin-right: 14px;
    margin-left: 16px;
}

.social-links a,
.project-links a {
    text-decoration: none;
    padding: 4px;
}

.social-links, 
.project-links a:hover {
    animation: bounce 1s;
}

.title {
    margin-top: 50px;
}

footer {
    font-size: 10px;
    margin-top: 100px;
}

/* footer {
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-weight: bold;
    margin-top: 250px;
  } */



