ul {
    display: flex;
    flex-wrap: wrap;
}

li {
    height: 40vh;
    flex-grow: 1;
}

li:last-child {
    flex-grow: 10;
}

img {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
}


@media (max-aspect-ratio: 1/1) {
    li {
    height: 30vh;
    }
}

@media (max-height: 480px) {
    li {
    height: 80vh;
    }
}

@media (max-aspect-ratio: 1/1) and (max-width: 480px) {
ul {
    flex-direction: row;
    }

li {
    height: auto;
    width: 100%;
    }
img {
    width: 100%;
    max-height: 75vh;
    min-width: 0;
    }
}


h1, h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

body {
    background-color: rgba(219, 201, 184, 1);

}

footer {
    background-color: brown;
    margin-top: 0,5em;
    padding: 0.5em 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

main {
    display: grid;
    grid-template-columns: 1fr auto;
    max-width: 60em;
    margin-left: auto;
    margin-right: auto;

}

.container {
    display: flex;
    flex-wrap: wrap;
  }

  .header{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}


.footer {
    grid-row: auto;
  }

/*NAVIGATION*/
nav{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    width:70%;
    margin:30 15% 0 15%;
}
.navlink{
    font-family: 'Rubik', serif;
    font-size: 15px;
    color: black;
    text-decoration: none;
}
.navlink:hover{
    color:#c9c9c9;
}