/* broad strokes */
@keyframes blogappear {
    from {margin-left: -100%}
    to {margin: center}
}

h4 {
    font-style:italic;
}
p {
    animation: 1s ease-out 0s 1 blogappear;
    font-size: 1.25em;
}
/* paragraph styling */
p::first-letter {
    font-size: 2em;
}

