body {
    background: linear-gradient(to right,#500b11,#ce8ca0);;
}

#top-nav ul {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: hsl(0, 0%, 0%, .6);
}

#top-nav li {
    display: block;
    padding: 1rem 4rem;
    border-right: solid 1px hsl(187, 61%, 43%, .5);
}

#top-nav a {
    color: hsl(32, 36%, 76%);
    text-decoration: none;
    font-size: 2em;
}

#top-nav li:hover {
    background-color: hsl(187, 61%, 43%, .5);
}

.title {
    font-size: 2.5em;
    text-align: center;
    margin-top: 2rem;
    color: white;
}

/*blog part*/
.blog-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.blog {
    border-top: dotted white 3px;
    color: white;
    align-self: center;
    line-height: 1.5;
    display: grid;
    grid-template-columns: 2fr 4fr;
    grid-template-rows: 3fr 2fr;
    width: 900px;
    padding: 100px;
}

.blog-title {
    text-transform: uppercase;
    color: rgb(225, 230, 22);
    margin-left: 20px;
}


.blog:last-child {
    border-bottom: dotted white 3px;
    margin-bottom: 200px;
}

/*button properties*/

.button-container{
    padding-top: 30px;
    grid-column-start: 2;
    grid-row-start: 2;
    margin-left: 10px;
}

.read-more-button {
    text-transform: uppercase;
    border: 1px solid white;
    padding: 8px;
    border-radius: 10px;
    color: white;
    display: flex;
    width: 150px;
}

.read-more-button:hover {
    color: black;
    background-color: hsl(187, 61%, 43%, .5);
    cursor: default;
}