.pixel:nth-child(38) {
    background: #ed90b1;
  }
  .pixel:nth-child(138) {
    background: #ed90b1;
  }
  .pixel:nth-child(139) {
    background: #ed90b1;
  }
  .pixel:nth-child(39) {
    background: #ed90b1;
  }
  .pixel:nth-child(140) {
    background: #ed90b1;
  }
  .pixel:nth-child(40) {
    background: #de8db8;
  }
  .pixel:nth-child(141) {
    background: #de8db8;
  }
  .pixel:nth-child(41) {
    background: #de8db8;
  }
  .pixel:nth-child(142) {
    background: #de8db8;
  }
  .pixel:nth-child(42) {
    background: #d38dbc;
  }
  .pixel:nth-child(143) {
    background: #d38dbc;
  }
  .pixel:nth-child(43) {
    background: #d38dbc;
  }
  .pixel:nth-child(144) {
    background: #d38dbc;
  }
  .pixel:nth-child(44) {
    background: #d18dc0;
  }
  .pixel:nth-child(145) {
    background: #d18dc0;
  }
  .pixel:nth-child(45) {
    background: #d18dc0;
  }
  .pixel:nth-child(146){
    background: #d18dc0;
  }
  .pixel:nth-child(46){
    background: #d18dc0;
  }
  .pixel:nth-child(147){
    background: #d18dc0;
  }
  .pixel:nth-child(47) {
    background: #d18dc0;
  }
  .pixel:nth-child(148) {
    background: #d18dc0;
  }
  .pixel:nth-child(48) {
    background: #d18dc0;
  }
  .pixel:nth-child(49) {
    background: #ca8dc3;
  }
  .pixel:nth-child(149){
    background: #ca8dc3;
  }
  .pixel:nth-child(50) {
    background: #ca8dc3;
  }
  .pixel:nth-child(150){
    background: #ca8dc3;
  }
  .pixel:nth-child(51) {
    background: #ca8dc3;
  }
  .pixel:nth-child(151){
    background: #ca8dc3;
  }
  .pixel:nth-child(52) {
    background: #c196d5;
  }
  .pixel:nth-child(152) {
    background: #c196d5;
  }
  .pixel:nth-child(53) {
    background: #c196d5;
  }
  .pixel:nth-child(153) {
    background: #ad95d6;
  }
  .pixel:nth-child(154) {
    background: #ad95d6;
  }
  .pixel:nth-child(155) {
    background: #c196d5;
  }
  .pixel:nth-child(54) {
    background: #9c98e1;
  }
  .pixel:nth-child(156) {
    background: #9c98e1;
  }
  .pixel:nth-child(56) {
    background: #9c98e1;
  }
  .pixel:nth-child(55) {
    background: #9c98e1;
  }
  .pixel:nth-child(157) {
    background: #9c98e1;
  }
  .pixel:nth-child(57) {
    background: #9c98e1;
  }
  .pixel:nth-child(158) {
    background: #9c98e1;
  }
  .pixel:nth-child(159) {
    background: #9c98e1;
  }
  .pixel:nth-child(160) {
    background: #9193d9;
  }
  .pixel:nth-child(161) {
    background: #9193d9;
  }
  .pixel:nth-child(162) {
    background: #9193d9;
  }
  .pixel:nth-child(163) {
    background: #8f8ed6;
  }
  .pixel:nth-child(164) {
    background: #8f8ed6;
  }
  .pixel:nth-child(58) {
    background: #9c98e1;
  }
  .pixel:nth-child(59) {
    background: #9c98e1;
  }
  .pixel:nth-child(60) {
    background: #9193d9;
  }
  .pixel:nth-child(61) {
    background: #9193d9;
  }
  .pixel:nth-child(62) {
    background: #9193d9;
  }
  .pixel:nth-child(63) {
    background: #8f8ed6;
  }
  .pixel:nth-child(64) {
    background: #8f8ed6;
  }

  /*all blue top left*/

  .pixel:nth-child(65) {
    background: #8f8ed6;
  }
  .pixel:nth-child(165) {
    background: #8f8ed6;
  }
  .pixel:nth-child(66) {
    background: #8f8ed6;
  }
  .pixel:nth-child(166) {
    background: #8f8ed6;
  }
  .pixel:nth-child(67) {
    background: #8f8ed6;
  }
  .pixel:nth-child(167) {
    background: #8f8ed6;
  }
  .pixel:nth-child(68) {
    background: #8f8ed6;
  }
  .pixel:nth-child(168) {
    background: #8f8ed6;
  }
  .pixel:nth-child(69) {
    background: #8f8ed6;
  }
  .pixel:nth-child(169) {
    background: #8f8ed6;
  }
  .pixel:nth-child(70) {
    background: #8f8ed6;
  }
  .pixel:nth-child(170) {
    background: #8f8ed6;
  }
  .pixel:nth-child(71) {
    background: #8f8ed6;
  }
  .pixel:nth-child(171) {
    background: #8f8ed6;
  }
  .pixel:nth-child(72) {
    background: #8f8ed6;
  }
  .pixel:nth-child(172) {
    background: #8f8ed6;
  }
  .pixel:nth-child(73) {
    background: #8f8ed6;
  }
  .pixel:nth-child(173) {
    background: #8f8ed6;
  }
  .pixel:nth-child(74) {
    background: #8f8ed6;
  }
  .pixel:nth-child(174) {
    background: #8f8ed6;
  }
  .pixel:nth-child(75) {
    background: #8f8ed6;
  }
  .pixel:nth-child(175) {
    background: #8f8ed6;
  }
  .pixel:nth-child(76) {
    background: #8f8ed6;
  }
  .pixel:nth-child(176) {
    background: #8f8ed6;
  }
  .pixel:nth-child(77) {
    background: #8f8ed6;
  }
  .pixel:nth-child(177) {
    background: #8f8ed6;
  }
  .pixel:nth-child(78) {
    background: #8f8ed6;
  }
  .pixel:nth-child(178) {
    background: #8f8ed6;
  }
  .pixel:nth-child(79) {
    background: #8f8ed6;
  }
  .pixel:nth-child(179) {
    background: #8f8ed6;
  }
  .pixel:nth-child(80) {
    background: #8f8ed6;
  }
  .pixel:nth-child(180) {
    background: #8f8ed6;
  }
  .pixel:nth-child(81) {
    background: #8f8ed6;
  }
  .pixel:nth-child(181) {
    background: #8f8ed6;
  }
  .pixel:nth-child(82) {
    background: #8f8ed6;
  }
  .pixel:nth-child(182) {
    background: #8f8ed6;
  }
  .pixel:nth-child(83) {
    background: #8f8ed6;
  }
  .pixel:nth-child(183) {
    background: #8f8ed6;
  }
  .pixel:nth-child(84) {
    background: #8f8ed6;
  }
  .pixel:nth-child(184) {
    background: #8f8ed6;
  }
  .pixel:nth-child(85) {
    background: #8f8ed6;
  }
  .pixel:nth-child(185) {
    background: #8f8ed6;
  }
  .pixel:nth-child(86) {
    background: #8f8ed6;
  }
  .pixel:nth-child(186) {
    background: #8f8ed6;
  }
  .pixel:nth-child(87) {
    background: #8f8ed6;
  }
  .pixel:nth-child(187) {
    background: #8f8ed6;
  }
  .pixel:nth-child(88) {
    background: #8f8ed6;
  }
  .pixel:nth-child(188) {
    background: #8f8ed6;
  }
  .pixel:nth-child(89) {
    background: #8f8ed6;
  }
  .pixel:nth-child(189) {
    background: #8f8ed6;
  }
  .pixel:nth-child(90) {
    background: #8f8ed6;
  }
  .pixel:nth-child(190) {
    background: #8f8ed6;
  }
  .pixel:nth-child(91) {
    background: #8f8ed6;
  }
  .pixel:nth-child(191) {
    background: #8f8ed6;
  }
  .pixel:nth-child(92) {
    background: #8f8ed6;
  }
  .pixel:nth-child(192) {
    background: #8f8ed6;
  }
  .pixel:nth-child(93) {
    background: #8f8ed6;
  }
  .pixel:nth-child(193) {
    background: #8f8ed6;
  }
  .pixel:nth-child(94) {
    background: #8f8ed6;
  }
  .pixel:nth-child(194) {
    background: #8f8ed6;
  }
  .pixel:nth-child(95) {
    background: #8f8ed6;
  }
  .pixel:nth-child(195) {
    background: #8f8ed6;
  }
  .pixel:nth-child(96) {
    background: #8f8ed6;
  }
  .pixel:nth-child(196) {
    background: #8f8ed6;
  }
  .pixel:nth-child(97) {
    background: #8f8ed6;
  }
  .pixel:nth-child(197) {
    background: #8f8ed6;
  }
  .pixel:nth-child(98) {
    background: #8f8ed6;
  }
  .pixel:nth-child(198) {
    background: #8f8ed6;
  }
  .pixel:nth-child(99) {
    background: #8f8ed6;
  }
  .pixel:nth-child(199) {
    background: #8f8ed6;
  }
  .pixel:nth-child(100) {
    background: #8f8ed6;
  }
  .pixel:nth-child(200) {
    background: #8f8ed6;
  }

  /*second two top row all blue*/

  .pixel:nth-child(265) {
    background: #8f8ed6;
  }
  .pixel:nth-child(365) {
    background: #8f8ed6;
  }
  .pixel:nth-child(266) {
    background: #8f8ed6;
  }
  .pixel:nth-child(366) {
    background: #8f8ed6;
  }
  .pixel:nth-child(267) {
    background: #8f8ed6;
  }
  .pixel:nth-child(367) {
    background: #8f8ed6;
  }
  .pixel:nth-child(268) {
    background: #8f8ed6;
  }
  .pixel:nth-child(368) {
    background: #8f8ed6;
  }
  .pixel:nth-child(269) {
    background: #8f8ed6;
  }
  .pixel:nth-child(369) {
    background: #8f8ed6;
  }
  .pixel:nth-child(270) {
    background: #8f8ed6;
  }
  .pixel:nth-child(370) {
    background: #8f8ed6;
  }
  .pixel:nth-child(271) {
    background: #8f8ed6;
  }
  .pixel:nth-child(371) {
    background: #8f8ed6;
  }
  .pixel:nth-child(272) {
    background: #8f8ed6;
  }
  .pixel:nth-child(372) {
    background: #8f8ed6;
  }
  .pixel:nth-child(273) {
    background: #8f8ed6;
  }
  .pixel:nth-child(373) {
    background: #8f8ed6;
  }
  .pixel:nth-child(274) {
    background: #8f8ed6;
  }
  .pixel:nth-child(374) {
    background: #8f8ed6;
  }
  .pixel:nth-child(275) {
    background: #8f8ed6;
  }
  .pixel:nth-child(375) {
    background: #8f8ed6;
  }
  .pixel:nth-child(276) {
    background: #8f8ed6;
  }
  .pixel:nth-child(376) {
    background: #8f8ed6;
  }
  .pixel:nth-child(277) {
    background: #8f8ed6;
  }
  .pixel:nth-child(377) {
    background: #8f8ed6;
  }
  .pixel:nth-child(278) {
    background: #8f8ed6;
  }
  .pixel:nth-child(378) {
    background: #8f8ed6;
  }
  .pixel:nth-child(279) {
    background: #8f8ed6;
  }
  .pixel:nth-child(379) {
    background: #8f8ed6;
  }
  .pixel:nth-child(280) {
    background: #8f8ed6;
  }
  .pixel:nth-child(380) {
    background: #8f8ed6;
  }
  .pixel:nth-child(281) {
    background: #8f8ed6;
  }
  .pixel:nth-child(381) {
    background: #8f8ed6;
  }
  .pixel:nth-child(282) {
    background: #8f8ed6;
  }
  .pixel:nth-child(382) {
    background: #8f8ed6;
  }
  .pixel:nth-child(283) {
    background: #8f8ed6;
  }
  .pixel:nth-child(383) {
    background: #8f8ed6;
  }
  .pixel:nth-child(284) {
    background: #8f8ed6;
  }
  .pixel:nth-child(384) {
    background: #8f8ed6;
  }
  .pixel:nth-child(285) {
    background: #8f8ed6;
  }
  .pixel:nth-child(385) {
    background: #8f8ed6;
  }
  .pixel:nth-child(286) {
    background: #8f8ed6;
  }
  .pixel:nth-child(386) {
    background: #8f8ed6;
  }
  .pixel:nth-child(287) {
    background: #8f8ed6;
  }
  .pixel:nth-child(387) {
    background: #8f8ed6;
  }
  .pixel:nth-child(288) {
    background: #8f8ed6;
  }
  .pixel:nth-child(388) {
    background: #8f8ed6;
  }
  .pixel:nth-child(289) {
    background: #8f8ed6;
  }
  .pixel:nth-child(389) {
    background: #8f8ed6;
  }
  .pixel:nth-child(290) {
    background: #8f8ed6;
  }
  .pixel:nth-child(390) {
    background: #8f8ed6;
  }
  .pixel:nth-child(291) {
    background: #8f8ed6;
  }
  .pixel:nth-child(391) {
    background: #8f8ed6;
  }
  .pixel:nth-child(292) {
    background: #8f8ed6;
  }
  .pixel:nth-child(392) {
    background: #8f8ed6;
  }
  .pixel:nth-child(293) {
    background: #8f8ed6;
  }
  .pixel:nth-child(393) {
    background: #8f8ed6;
  }
  .pixel:nth-child(294) {
    background: #8f8ed6;
  }
  .pixel:nth-child(394) {
    background: #8f8ed6;
  }
  .pixel:nth-child(295) {
    background: #8f8ed6;
  }
  .pixel:nth-child(395) {
    background: #8f8ed6;
  }
  .pixel:nth-child(296) {
    background: #8f8ed6;
  }
  .pixel:nth-child(396) {
    background: #8f8ed6;
  }
  .pixel:nth-child(297) {
    background: #8f8ed6;
  }
  .pixel:nth-child(397) {
    background: #8f8ed6;
  }
  .pixel:nth-child(298) {
    background: #8f8ed6;
  }
  .pixel:nth-child(398) {
    background: #8f8ed6;
  }
  .pixel:nth-child(299) {
    background: #8f8ed6;
  }
  .pixel:nth-child(399) {
    background: #8f8ed6;
  }
  .pixel:nth-child(400) {
    background: #8f8ed6;
  }
  .pixel:nth-child(300) {
    background: #8f8ed6;
  }