@keyframes fadein {
    from { opacity: 0; }
    to {opacity : 1; }
  }

header {
    font-size: 2em;
    margin: 50px 0px 10px 0px;
}
hr {
    margin: 15px 0px;
}
header, h3, hr {
    animation: 1s ease-out 0s 1 fadein;
}
h3 {
    font-size: 1.5em;
}
.port-container a {
    color: #fbfbf2;
    font-size: 1.5em;
}
a:hover {
    color: #cfd2cd;
    letter-spacing: .2em;
}
.port-container {
    margin: 15px 15px;
    display: grid;
    grid-template: 3 / 3;
    width: 60%;
}
#apis {
    grid-column: 1/2;
}
#oop {
    grid-column: 2 / 3;
}
.portfolio-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-right: 50px;
    visibility: hidden;
    opacity: 0;
    background-color: #847577;
    border-radius: 25px;
    padding-left: 2em;
}
#apis:hover .portfolio-content, #oop:hover .portfolio-content {
    visibility: visible;
    transition: visibility .5s, opacity .5s linear;
    opacity: .75;
}
