*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Navbar */
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
}

.navbar ul{
    display: flex;
    list-style: none;
    margin: 20px 0px;
}

.navbar ul li{
    font-size: 1.1 rem;
    font-weight: bold;
}

.navbar ul li a{
    text-decoration: none;
    color: black;
    padding: 8px 25px;
    transition: all .5s ease;
}

.navbar ul li a:hover{
    background-color: white;
    color: blue;
    box-shadow: 0 0 10px grey;
}

/* Home Section */
header{
    text-align: center;
    padding: 4em;
    color: cornflowerblue;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5em;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }




/* body {
    font-family: Arial, Helvetica, sans-serif;
    background: #acabd2;
    margin: 0;
    padding: 0;
  }
  
  h1, h2, h3, h4 {
    color: #1a0715;
  }
  
  .current-page {
    font-weight: bold;
  }
  
  img {
    max-width: 50vw;
    border: 0.5em solid #b4911f;
  }
  
  header {
    grid-column: span 2;
    text-align: center;
  }
  
  footer {
    background: #5f6c7b;
    margin-top: 1em;
    padding: 1em 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    grid-column: span 2;
  }
  
  footer p {
    margin: 0;
  }
  
  main {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto 1fr auto;
    max-width: 60em;
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh;
  }
  
  main section {
    padding: 0 1em;
  }
  
  nav {
    border: 5px solid #5f6c7b;
    grid-column: 1;
    grid-row: 2;
  }
  
  nav ul {
    margin: 1em;
    padding: 0;
  }
  
  nav li {
    display: block;
    text-align: center;
    margin: 0.5em;
    padding: 0.5em;
    background: #753657;
  }
  
  #home img {
    width: 150px;
    float: right;
    margin: 0 1em 1em 1em;
  } */