body {
    background-image: url("../images/chris-abney-qLW70Aoo8BE-unsplash.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    border: 5px solid;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    width: 800px;
    text-align: center;
}

h1 {
    font-family: 'Caveat', cursive;
    font-size: 75px;
    margin: 0;
}

nav {
    display: flex;
    justify-content: center;
}

ul {
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin: 0;
}

li {
    margin: 20px;
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: white;
}