/* body */
body {
    font-family: Verdana, Geneva, 
    Tahoma, sans-serif;
    background-image: url(/Users/marisamorales/Developer/projects/personal-portfolio-site/images/thistlerepeat.jpg);
    background-position: bottom;
    background-size: 30em;
}
/* Links */
a:visited {
    color: #9FD8CB;
}

a:hover {
    color: #FFE8E1;
}
/* Headings */
h1 {
    text-align: left;
    font-size: 5em;
    font-variant: small-caps;
    font-weight: lighter;
    font-style: italic;
}

h2 {
    text-align: left;
    font-size: 1em;
    font-weight: lighter;
    font-style: italic;
}

h3 {
    padding: 0px;
    margin: 0px;
    color: #F1856A;
    text-align: center;
    font-size: .7em;
    font-weight: lighter;
    font-style: italic;
}
/* Paragraph */
p {
    line-height: 150%;
    padding: .2em;
    color: #183642;
    background-color: #d5cad6;
    border: 2px solid #d5cad6;
    border-radius: 5px;
}


/* figure {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
} */

/* Styling for the Navigation Bar */
.link-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.link-menu,
.menu-item {
    list-style-type: none;
    font-family: Verdana, Geneva, 
    Tahoma, sans-serif;
    font-weight: bolder;
    font-size: large;
    background-color: white;
    border: 2px solid white;
    border-radius: 5px;
}

/* Styling for the image and text on each page */
.splash {
    display: flex;
    flex-direction: column;
    overflow: visible;
    position: relative;
    text-align: left;
    min-height: 350px;
    border: 2px solid #d5cad6;
    border-radius: 5px;
}

.splash img {
    height: 100%;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: -1;
}

.splash, 
.splash-text {
    align-items: baseline;
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    margin-top: 0em;
    text-shadow: #73628a 1px 0 10px;
}

.splash-text {
    max-width: 42rem;
    margin: 0 auto;
    padding: 1rem;
    color: #d5cad6;
}
/* Style for the portfolio page */
.portfolio-menu {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: relative;
    text-align: center;
    min-height: 2em;
    border: 2px solid #73628a;
    border-radius: 5px;
}

.portfolio-menu,
.portfolio-item {
    flex: 1 1 0%;
    list-style-type: none;
    margin: 2em;
}
.portfolio-item img:hover {
    height: 30vh;
    width: 30vw;
    transition: width 2s, height 4s;
}
.portfolio-item img {
    height: 25vh;
    width: 25vw;
    top: 0px;
    object-fit: scale-down;
    position: relative;
    padding-top: .4em;
}
.portfolio-item figcaption {
    padding: 0px;
    margin: 0px;
    text-align: center;
    font-size: 1.3em;
    color: #183642;
    font-weight: lighter;
}
.portfolio-item p {
    padding: .2em;
    margin: 0px;
    background-color: transparent;
    border: none;
}

.portfolio-item li {
    background-color: #d5cad6;
    border: 2px solid #d5cad6;
    border-radius: 5px;
}

/* Footer */
footer {
    text-align: center;
    font-size: .8em;
    margin-top: 1em;
    line-height: 150%;
    background-color: #d5cad6;
    border: 2px solid #d5cad6;
    border-radius: 5px;
}